@import "../common/variables";

.about {
  background: linear-gradient(
                  rgba(255, 255, 255, 0.95),
                  rgba(255, 255, 255, 0.95)
  ), url("../img/bg_tablet.jpg");
  background-size: 100%, auto 100%;

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 700;

    padding-left: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-left: 4px solid $red;
  }

  &__delimiter {
    color: $lightgray;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__more {
    text-align: center;
  }

  &__video_box {
    margin-bottom: 2rem;
  }

  &__video {
    display: table;
    margin: auto;
    position: relative;
  }

  @include breakpoint($small) {
    &__content {
      @include clearfix;
    }

    &__description {
      width: calc(100% - 536px);
      float: right;
    }

    &__video_box {
      float: left;
      position: relative;
      height: 407px;
      width: 506px;
      padding-top: 26px;
      background-image: url('../img/screen.png');
      background-size: auto 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  @include breakpoint(500px) {
    &__video {
      width: 464px;
      height: 260px;
    }
  }
}