@import "../common/variables";

.advantages {
  background:
          linear-gradient(to bottom, rgba($deep, .9) 0, rgba($deep, .9) 100%),
          url('../img/bg_laptop.jpg') no-repeat;
  background-size: auto, cover;
  background-position: center center;
  color: $white;

  &__title {
    text-transform: uppercase;

    b {
      color: $red;
    }
  }

  &__call_to_action {
    text-align: center;
  }

  &__list {
    margin-bottom: 2rem;
  }

  @include breakpoint(0, $medium) {

    &__item {
      width: 260px;
      margin: auto;
      position: relative;
      padding: 1rem;

      &:last-child:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 2.5rem;
        height: 2.5rem;

        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: $red;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center center;
      }

      &:nth-child(odd) {
        border: 2px solid $red;
        border-left: none;
      }
      &:nth-child(even) {
        border-left: 2px solid $red;
      }
      &:last-child {
        border-bottom: 2px solid $red;
      }

      &:nth-child(1):before {
        background-image: url('../img/icons/lamp.png');
      }

      &:nth-child(2):before {
        background-image: url('../img/icons/screen.png');
        left: 100%;
      }

      &:nth-child(3):before {
        background-image: url('../img/icons/mind.png');
      }

      &:nth-child(4):before {
        background-image: url('../img/icons/like.png');
        background-position: center 40%;
        left: 100%;
      }

      &:nth-child(4):after {
        background-image: url('../img/icons/rocket_icon.png');
        background-color: $white;
        background-size: 50%;
        box-shadow: 0 0 0 3px $red inset;
        top: 100%;
        left: 100%;
      }
    }
  }

  @include breakpoint($xsmall) {
    &__item:nth-child(n) {
      width: 400px;
      border-width: 4px;
    }
  }

  @include breakpoint($medium) {

    &__list {
      position: relative;
      width: 964px;
      height: 470px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      background-image: url("../img/hex.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
    }

    &__item {
      position: absolute;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__item:nth-child(1) {
      width: 200px;
      left: 25px;
      top: 160px;
    }

    &__item:nth-child(2) {
      width: 200px;
      left: 345px;
      top: 230px;
    }

    &__item:nth-child(3) {
      width: 200px;
      left: 448px;
      top: 50px;
    }

    &__item:nth-child(4) {
      width: 310px;
      left: 650px;
      top: 160px;
    }
  }

  @media (min-width: $medium) and (max-height: 800px) {
    &__title {
      margin-bottom: 1rem;
    }

    &__list {
      transform: scale(.8);
      margin-top: -2rem;
      margin-bottom: -2rem;
    }
  }
}

.advantage {
  text-align: center;

  &__num {
    color: $red;
    font-size: 1.3rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 3rem;
      height: 2px;
      background-color: $white;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}