@import "../common/variables";

.faq {
  color: $white;
  background:
          url('../img/triangl_right.png') no-repeat,
          linear-gradient(to bottom, rgba($deep, .9) 0, rgba($deep, .9) 100%),
          url('../img/bg_books.jpg') no-repeat;
  background-size: 100% -5%, auto, cover;
  background-position: center top, center center, center center;

  &__list {
    margin-bottom: 1rem;
  }

  &__item {
    margin-bottom: .5rem;
    background-color: $darkgray;
    transition: all .4s ease;
  }

  &__question {
    position: relative;
    padding: .5rem 2rem;
    background-color: $gray;
    transition: background-color .4s ease;
    cursor: pointer;

    &:before {
      content: "+";
      position: absolute;
      left: .5rem;
      top: 45%;
      transform: translateY(-50%);
      color: $red;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__answer {
    padding: 0 2rem;
    transition: opacity .4s ease-in, transform .2s ease-in, background-color .4s ease-in;
    height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
    overflow: hidden;
  }

  &__item.is-active {
    background-color: $darkred;
  }

  &__item.is-active &__question {
    background-color: $red;

    &:before {
      content: "-";
      color: $white;
      left: .6rem;
    }
  }

  &__item.is-active &__answer {

    transition: opacity .4s ease-out, transform .2s ease-out, background-color .4s ease-out;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: auto;
    opacity: 1;
    transform: scaleY(1);
  }

  &__contacts {

  }

  &__contact_item {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;

    &:before {
      content: '';
      display: inline-block;
      width: 2em;
      height: 2em;
      margin-right: 4px;

      border: 1px $red solid;
      border-radius: 100%;
      vertical-align: middle;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50%;
    }

    &:hover {
      text-decoration: underline;
    }

    &--phone:before {
      background-image: url('../img/icons/phone-large.png');
    }

    &--skype:before {
      background-image: url('../img/icons/skype-large.png');
    }
  }

  @include breakpoint(500px) {

    &__contacts {
      text-align: center;
    }
    &__contact_item {
      display: inline-block;

      & + & {
        margin-left: 1rem;
      }
    }
  }

  @include breakpoint($medium) {
    background:
            url('../img/triangl_right.png') no-repeat,
            linear-gradient(to bottom, rgba($deep, .9) 0, rgba($deep, .9) 100%),
            url('../img/bg_books.jpg') no-repeat;
    background-size: 100% 15%, auto, cover;
    background-position: center top, center center, center center;
  }

  @include breakpoint($xlarge) {

    &__title {
      margin-top: 1rem;
      margin-bottom: 4rem;
    }

    &__list {
      margin-bottom: 3rem;
    }

    &__contact_item {
      font-size: 1.2rem;
      display: inline-block;

      & + & {
        margin-left: 3rem;
      }
    }
  }
}