@import "../common/variables";

.feedback_form {
  margin: auto;
  width: 300px;
  overflow: hidden;
  border-radius: 2px;
  padding: 1rem 2rem;

  border-top: 4px solid $red;
  background-color: $lightestgray;
  box-shadow: 0 3px 3px 0 $lightgray;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;

    background-color: $white;
    border: $red solid 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;

    background-repeat: no-repeat;
    background-position: 12px center;

    &--person {
      background-image: url("../img/icons/male.png");
    }

    &--phone {
      background-image: url("../img/icons/phone-small.png");
    }

    &--skype {
      background-image: url("../img/icons/skype-small.png");
    }
  }

  &__submit {
    margin-top: 1rem;
    width: 100%;
    font-size: 16px;
  }

  @include breakpoint($small) {
    width: 350px;
  }
}