@import "../common/variables";

.intro {
  background-color: $deep;
  background-image: url('../img/rocket.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 60%;
  color: $red;
  text-align: center;
  position: relative;

  &__title {
    font-size: 3em;
    margin-bottom: 1rem;
  }

  &__text {
    display: block;
    margin: 0 auto 2rem;
    width: 70%;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__start {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &__scroll_button {
    position: absolute;
    display: block;
    padding: 0;
    width: 5em;
    height: 5em;
    background: url('../img/down_button.png') no-repeat;
    background-size: 100%;
    border: none;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    cursor: pointer;
  }

  @include breakpoint(0, 500px) {

    &__wrapper {
      padding-bottom: 1rem;
    }
  }

  @include breakpoint($xlarge) {
    font-size: 1.3rem;

    &__text {
      font-size: 1em;
    }
  }

  @media all and (min-height: 900px) and (min-width: 1800px) {
    &__title {
      font-size: 4em;
    }
  }
}