@import "../common/variables";

.main_menu {
  position: fixed;
  z-index: 10;
  color: $white;
  transition: .4s ease transform;

  &__item {
    text-transform: uppercase;
  }

  &__link {
    display: block;
    text-decoration: none;
    transition: .4s ease color;
  }

  &__burger {
    position: absolute;
    left: 110%;
  }

  @include breakpoint(0, $medium) {
    width: 200px;
    height: 100%;

    left: 0;
    transform: translateX(-100%);
    background-color: $deep;

    &.is-active {
      transform: translateY(0);

      & + .slides {
        filter: saturate(30%) brightness(30%);
      }
    }

    &__list {
      padding-top: 1rem;
    }

    &__link {
      width: 100%;
      padding: .5rem 1rem;
      font-weight: 600;
    }

    &__item.active &__link {
      color: $red;
    }
  }


  @include breakpoint($medium) {
    top: 0;
    right: 0;
    left: 0;

    &__burger {
      display: none;
    }

    &__wrapper {
      @include clearfix;
      max-width: 1080px;
      margin: auto;
    }

    &__list {
      float: right;
    }

    &__item {
      display: inline-block;
    }

    &__link {
      padding: 1.3rem .6rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &__item.active &__link {
      background-color: $red;
    }

    .fp-viewing--about &__link {
      color: $text;
    }

    .fp-viewing--about &__item.active &__link {
      color: $white;
    }

    .fp-viewing--reviews &__item.active &__link,
    .fp-viewing--pricing &__item.active &__link,
    .fp-viewing--start &__item.active &__link {
      color: $text;
      background-color: $white;
    }

    .fp-viewing--reviews &__list,
    .fp-viewing--pricing &__list,
    .fp-viewing--faq &__list,
    .fp-viewing--start &__list {
      //background-color: $red;
    }

    .fp-viewing--reviews &:before {
      transform: rotate(-2deg);
    }
  }

  @include breakpoint($medium) {
    .fp-viewing--faq &__item.active &__link {
      color: $text;
      background-color: $white;
    }
  }
}

.hamburger {
  //Copy from https://github.com/jonsuh/hamburgers

  padding: 1rem 0 0;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover &__inner,
  &:hover &__inner::before,
  &:hover &__inner::after {
    //background-color: $red;
  }

  &__box {
    width: 1.8rem;
    height: 1.5rem;
    display: inline-block;
    position: relative;
  }

  &__inner {
    display: block;
    top: 50%;
    margin-top: -2px;

    &,
    &::before,
    &::after {
      width: 100%;
      height: 4px;
      background-color: $white;
      position: absolute;

      .fp-viewing--reviews &,
      .fp-viewing--about &,
      .fp-viewing--pricing &,
      .fp-viewing--start & {
        background-color: $text;
      }
    }

    transition:
            background-color .3s ease-in,
            transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before, &::after {
      content: "";
      display: block;
    }

    &::before {
      top: -10px;
      transition:
              background-color .3s ease-in,
              top 0.1s 0.34s ease-in,
              opacity 0.1s ease-in;
    }

    &::after {
      bottom: -10px;
      transition:
              background-color .3s ease-in,
              bottom 0.1s 0.34s ease-in,
              transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

  }

  &.is-active &__inner,
  &.is-active &__inner::before,
  &.is-active &__inner::after {
    background-color: $white;
  }

  &.is-active &__inner {
    transform: rotate(225deg);
    transition:
            background-color .3s ease-in,
            transform 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s, .14s;
  }

  &.is-active &__inner::before {
    top: 0;
    opacity: 0;
    transition:
            background-color .3s ease-in,
            top 0.1s ease-out,
            opacity 0.1s 0.14s ease-out;
  }

  &.is-active &__inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition:
            background-color .3s ease-in,
            bottom 0.1s ease-out,
            transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}