@import "../common/variables";

.pricing {
  background-color: $lightestgray;

  &__title {
    position: relative;
    margin-bottom: 2rem;
    display: table;
    margin: auto;
  }

  &__bids {
    display: none;
    text-align: center;

    position: absolute;
    left: calc(100% + 3rem);
    top: -20%;
    width: 6.3rem;
    height: 6.3rem;
    padding-top: 1.5rem;
    padding-right: 0.6rem;
    transform: translate(-2rem) rotate(-15deg);
    box-shadow: 0 0 2px 0 rgba($gray, .4);

    font-size: .7rem;
    background-color: $red;
    color: $white;
    font-weight: 600;
  }

  &__bid_text {
    width: 115%;
    transform: rotate(42deg);
  }

  &__list {
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin-bottom: 1rem;

    width: 100%;
  }

  &__timer {
    display: table;
    margin: auto;
  }

  @include breakpoint(600px) {
    &__item {
      width: auto;

      &:not(:first-child) {
        margin-left: .5rem;
      }
    }
  }

  @include breakpoint($medium) {
    background-image: url('../img/triangl_left.png');
    background-size: 100% 15%;
    background-repeat: no-repeat;
    background-position: center top;

    &__bids {
      display: block;
    }
  }
}

.price_card {
  margin: auto;
  width: 15rem;
  text-align: center;
  border: $darkgray solid 2px;
  transition: .4s ease all;

  &__header {
    position: relative;
    background-color: $darkgray;
    color: $white;
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    transition: .4s ease all;
  }

  &__name {
    margin: 0;
    text-transform: uppercase;

  }

  &__price_box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $gray;
    width: 6rem;
    height: 6rem;
    margin: auto;
    padding-top: 1.5rem;
    overflow: hidden;
    border-radius: 100%;
    font-weight: 700;
    box-shadow: 0 0 0 .3rem rgba($gray, 0.3);
    transition: .4s ease all;
  }

  &__price_value {
    font-size: 1.3em;
  }

  &__price_time {
    font-size: .6em;
  }

  &__body {
    padding-bottom: 2rem;
  }

  &__text {
    margin-bottom: 1rem;

    height: 175px;
    overflow: auto;
  }

  &:not(.active) {
    .button {
      background-color: $darkgray;
    }
  }

  &.active {
    border: $red solid 2px;
  }

  &.active &__header {
    background-color: $red;
  }

  &.active &__price_box {
    background-color: $lightred;
    box-shadow: 0 0 0 .3rem rgba($lightred, 0.3);
  }
}