@import "../common/variables";

.reviews {
  background-image: url('../img/bg_trangl.png');
  background-size: cover;
  background-position: center top;

  &__title {
    position: relative;
    margin-bottom: 5rem;

    &:before {
      position: absolute;
      bottom: -3rem;
      left: 50%;

      transform: translateX(-50%);
      content: '';
      display: block;
      width: 44px;
      height: 30px;

      background-image: url("../img/commas.png");
      background-repeat: no-repeat;
    }

    @include breakpoint(0, $large) {
      margin-bottom: 2rem;

      &:before {
        display: none;
      }
    }
  }

  &__list {
    position: relative;
    text-align: center;
    overflow: hidden;

    .slick-arrow {
      position: absolute;
      bottom: 0;

      display: block;
      width: 2rem;
      height: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      transition: all .4s ease;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 30%;
      background-position: center center;
      border: 1px solid $darkgray;
      outline: none;
      font-size: 0;
      cursor: pointer;

      &:hover {
        background-color: $red;
        border-color: $red;
      }

      @include breakpoint(0, 500px) {
        display: none!important;
      }
    }

    .slick-next {
      background-image: url('../img/icons/arrow_right--gray.svg');
      left: 70%;

      &:hover {
        background-image: url('../img/icons/arrow_right.svg');
      }
    }

    .slick-prev {
      background-image: url('../img/icons/arrow_left--gray.svg');
      right: 70%;

      &:hover {
        background-image: url('../img/icons/arrow_left.svg');
      }
    }
  }

  &__item {
    display: inline-block;
    outline: none;
    vertical-align: top;
  }

  &__dots {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &.slick-active button {
        background-color: transparent;
      }
    }

    button {
      width: 2rem;
      height: 2rem;
      background-color: $deep;
      border: none;
      border-radius: 100%;
      color: transparent;
      box-shadow: 0 0 0 .3rem rgba($lightred, 0.3);
      cursor: pointer;
      transition: all .4s ease;
      background-size: cover;
    }

    .slick-active button {
      border: 2px solid $lightred;
      transform: translateY(-.5rem);
    }
  }

  @include breakpoint(0, 500px) {

    &__wrapper {
      padding-bottom: 1rem;
    }
  }

  @include breakpoint($xsmall) {
    .slick-track {
      margin-bottom: 2rem;
    }
  }

  @include breakpoint($medium) {
    background-image: url('../img/bg_trangl4.png');
    background-size: cover;
    background-position: center 10%;

    &__dots button {
      width: 3rem;
      height: 3rem;
    }
  }
}

.review {
  @include clearfix;

  text-align: center;

  &__photo {
    overflow: hidden;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    border: 2px solid $lightred;
    box-shadow: 0 0 0 8px rgba($lightred, 0.3);
  }

  &__message {
    vertical-align: top;
    margin-bottom: 2rem;
    font-size: 1.3em;
  }

  &__text {
    color: $text;
    max-width: 500px;
    margin: 0 auto 1rem;
  }

  &__name {
    color: $red;
    text-transform: uppercase;
  }

  &__profession {
    font-size: .7em;
  }
}