@import "../common/variables";

.start {
  background-color: $lightestgray;
  background-image: url('../img/bg_trangl_2.png');
  background-size: cover;
  background-position: center center;

  &__image_box {
    display: none;
  }

  &__image {
    max-width: 80%;
  }

  &__subtitle {
    text-align: center;
    color: $red;
  }

  @include breakpoint(0, 500px) {

    &__wrapper {
      padding-bottom: 1rem;
    }
  }

  @include breakpoint($xsmall) {

    &__content {
      @include clearfix;

      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }

    &__image_box {
      display: block;
      float: left;
      width: 50%;
      text-align: center;
    }

    &__feedback {
      float: right;
      width: 50%;
    }

    &__subtitle {
    }
  }

  @include breakpoint($medium) {
    background-image: url('../img/bg_trangl3.png');
    background-position: center 10%;
  }

  @include breakpoint($large) {
    &__image_box {
      width: 60%;
    }

    &__feedback {
      width: 40%;
    }
  }
}