@import "../common/variables";

figure, figcaption {
  display: block;
}

.transition {
  transition: top 400ms linear;
}

.timeTo {
  font-size: 28px;
  line-height: 108%;
  font-weight: bold;
  height: 32px;
}

.timeTo span {
  vertical-align: top;
}

.timeTo.timeTo-white div {
  color: $deep;
}

.timeTo.timeTo-black div {
  color: white;
}

.timeTo.timeTo-black .timeTo-alert {
  background: #a74444;
}

.timeTo.timeTo-white .timeTo-alert {
  background: #ffffff;
}

.timeTo figure {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 57px!important;
  max-width: none!important;

  &:first-child {
    margin-right: 10px;
  }
}

.timeTo figcaption {
  text-align: center;
  line-height: 80%;
  color: $text;
  font-size: .7rem;
  font-weight: 600;
  padding-right: 0!important;
}

.timeTo div {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 34px;
  border: 1px solid $red;
  margin-right: 5px;
  overflow: hidden;
}

.timeTo div.first {
  //border-left: 1px solid $red;
}

.timeTo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 4px!important;
}

.timeTo ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
