@import "../common/variables";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  color: $text;

  font-size: 16px;
  line-height: 1.4;

  @include breakpoint($xsmall) {
    font-size: 17px;
  }

  @include breakpoint($medium) {
    font-size: 18px;
  }

}

a {
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

iframe {
  background: none;
  border: none;
}

input,
button {
  outline: none;
}

::selection {
  background: $darkred;
  color: $white;
}

.wrapper {
  @include clearfix;

  max-width: 1080px;
  padding: 3rem 10px 1rem;
  margin: auto;
  height: 100%;

  @include breakpoint(0, 500px) {
    padding-bottom: 3rem;
  }

  @include breakpoint($medium) {
    padding-top: 6rem;
  }

  @include breakpoint($large) {
    padding-top: 7rem;
  }

  @include breakpoint($xlarge) {
    padding-top: 8rem;
  }
}

.slides {
  transition: .7s ease all;
}

.section {
  background-color: $white;
}

.button {
  background: $red;
  border: none;
  font-size: 1em;
  padding: .5em 2em;
  color: $white;
  font-weight: bold;

  transition: all ease .4s;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: rgba($darkred, 1);
  }
}

.title {
  display: table;
  text-align: center;
  position: relative;
  margin: 0 auto 1rem;
  padding-bottom: .5rem;
  font-size: 2em;
  font-weight: 700;

  b {
    color: $red;
  }

  @include breakpoint($medium) {
    font-size: 3em;

    &--underline {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: $red;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media (min-height: 800px) {
    margin-bottom: 2rem;
  }

  @media all and (min-height: 900px) and (min-width: 1800px) {
    font-size: 4em;
  }
}

.modal {
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .feedback_form {
    position: absolute;
    z-index: 1005;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__parangua {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($deep, .8);
  }
}

.ajax_modal {
  background-color: $lightestgray;
  width: 300px;
  height: 200px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 4px solid $red;
  box-shadow: 0 3px 3px 0 $lightgray;
  border-radius: 2px;
  z-index: 1005;
}

.close {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.3;
  cursor: pointer;
  transition: .4s ease all;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  top: 0;
  height: 1.5rem;
  width: 2px;
  background-color: $gray;
  transition: .4s ease all;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}