/*
	1. Colors
*/

$lightred: #F05455;
$red: #DF2F2F;
$darkred: #8D2E2C;
$darkestred: #412C29;
$deep: #26343D;

$lightestgray: #F6F6F6;
$lightgray: #ACACAC;
$gray: #888888;
$darkgray: #747474;
$darkestgray: #434343;

$white: #ffffff;

$text: $darkestgray;

/*
	2. Breakpoints
*/

$xsmall: 750px;
$small: 960px;
$medium: 1120px;
$large: 1440px;
$xlarge: 1700px;